body {
  margin: 0;
  background-color: white;
  text-align: center;
}

.field {
  margin: 0.75em auto;
  background-color: rgb(231, 240, 206);
  border-radius: 20px;
  border: none;
  width: 90%;
  height: 70%;
}

